.inputControl {
display: flex;
flex-direction: column;

}

.inputControl label {
  margin-bottom: 10px;
  font-weight: bold;
}

.inputControl input {
  padding: 5px;
  border-radius: 20px;
  border: none;
}