.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f3d9;
}

.container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  padding: 30px 20px 20px;
  border-radius: 10px;
}

.form .rankingNinjaEdit {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  padding: 20px 0px 0px;
}

.form h1 {
  margin-bottom: 20px;
}
