.cardContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.cardContainer .card {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 20px;
  background-color: #FFFFFF;
}

.cardContainer .card h1 {
margin-bottom: 10px;
}

.cardContainer .card h2 {
    margin-bottom: 10px;
}

.cardContainer .card .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardContainer .cardButtons {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  gap: 10px;
}

.cardContainer .cardButtons .button {
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


@media (max-width: 570px) {
  
  .cardContainer {
    width: 100vw;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .cardContainer .card {
    margin: 0;
    padding: 0;
  }

  .cardContainer .card .content {
    flex-direction: column;
    align-items: center;
  }

  .cardContainer .cardButtons {
    margin: 20px 0 20px;
    flex-direction: row ;
    width: auto;
  }
}
