.buttonConatiner {
    background-color: red;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}