.container_listingPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.main_listingPage {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background-color: #1d0f02;
    padding: 30px;
    margin: 30px 300px 0 300px;
    scroll-behavior: auto;
}