.containerListingPage {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F3D9;
}
  
.mainListingPage {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background-color: #050505ff;
    padding: 30px;
    margin: 30px 300px 0 300px;
    scroll-behavior: auto;
}

@media (max-width: 570px) {

    .mainListingPage {
      width: 80%;
      margin: 30px 0px 0px 0px;
      align-self: center;
    }
  }